body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:1010px;
  height:645px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1110px;
  width:1000px;
  height:635px;
  display:flex;
}
#u221 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u221_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1137px;
  width:1000px;
  height:30px;
  display:flex;
}
#u223 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u223_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1142px;
  width:20px;
  height:20px;
  display:flex;
}
#u224 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u224_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1142px;
  width:20px;
  height:20px;
  display:flex;
}
#u225 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u225_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:1142px;
  width:20px;
  height:20px;
  display:flex;
}
#u226 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u226_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:20px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1142px;
  width:865px;
  height:20px;
  display:flex;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u227 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1110px;
  width:1000px;
  height:27px;
  display:flex;
}
#u228 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u228_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1118px;
  width:12px;
  height:12px;
  display:flex;
}
#u230 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u230_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1118px;
  width:12px;
  height:12px;
  display:flex;
}
#u231 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u231_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1118px;
  width:12px;
  height:12px;
  display:flex;
}
#u232 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u232_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:1115px;
  width:55px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u233 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u233_text {
  border-width:0px;
  white-space:nowrap;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:238px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.8);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:1342px;
  width:300px;
  height:238px;
  display:flex;
}
#u234 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u234_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  padding:3px 10px 3px 10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u235_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  padding:3px 10px 3px 10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1368px;
  width:247px;
  height:37px;
  display:flex;
}
#u235 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
}
#u235_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235.disabled {
}
#u236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  padding:3px 10px 3px 10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u236_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  padding:3px 10px 3px 10px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1427px;
  width:247px;
  height:37px;
  display:flex;
}
#u236 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
}
#u236_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236.disabled {
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1487px;
  width:247px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u237 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1354px;
  width:136px;
  height:37px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u238 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u238_text {
  border-width:0px;
  white-space:nowrap;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u239 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u239_text {
  border-width:0px;
  white-space:nowrap;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:1000px;
  height:1px;
  display:flex;
}
#u240 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u240_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:752px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:111px;
  width:1000px;
  height:752px;
  display:flex;
}
#u241 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u241_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:129px;
  width:57px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u242 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u242_text {
  border-width:0px;
  white-space:nowrap;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1403px;
  width:357px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u243 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u243_text {
  border-width:0px;
  white-space:nowrap;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:1451px;
  width:368px;
  height:105px;
  display:flex;
  color:#FFFFFF;
}
#u244 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:635px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u245 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1775px;
  width:1000px;
  height:635px;
  display:flex;
}
#u245 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u245_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1842px;
  width:976px;
  height:554px;
  display:flex;
}
#u246 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u246_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:70px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1843px;
  width:155px;
  height:70px;
  display:flex;
  font-family:'STHupo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#287CC8;
}
#u247 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:2050px;
  width:104px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u248 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1802px;
  width:1000px;
  height:30px;
  display:flex;
}
#u250 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u250_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1807px;
  width:20px;
  height:20px;
  display:flex;
}
#u251 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u251_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1807px;
  width:20px;
  height:20px;
  display:flex;
}
#u252 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u252_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:1807px;
  width:20px;
  height:20px;
  display:flex;
}
#u253 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u253_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1807px;
  width:865px;
  height:20px;
  display:flex;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#BCBCBC;
  text-align:left;
}
#u254 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
}
#u255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:27px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1775px;
  width:1000px;
  height:27px;
  display:flex;
}
#u255 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u255_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:1783px;
  width:12px;
  height:12px;
  display:flex;
}
#u257 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u257_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:1783px;
  width:12px;
  height:12px;
  display:flex;
}
#u258 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u258_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1783px;
  width:12px;
  height:12px;
  display:flex;
}
#u259 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u259_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:1780px;
  width:55px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u260 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u260_text {
  border-width:0px;
  white-space:nowrap;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:2000px;
  width:310px;
  height:18px;
  display:flex;
}
#u261 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u261_text {
  border-width:0px;
  white-space:nowrap;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1941px;
  width:116px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u262 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u262_text {
  border-width:0px;
  white-space:nowrap;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:240px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:2108px;
  width:811px;
  height:240px;
  display:flex;
}
#u263 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u263_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:1868px;
  width:94px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u264 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u264_text {
  border-width:0px;
  white-space:nowrap;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1591CF;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1868px;
  width:27px;
  height:18px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1591CF;
}
#u265 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u265_text {
  border-width:0px;
  white-space:nowrap;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1864px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u266 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1864px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u267 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1591CF;
  text-align:center;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:1864px;
  width:60px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1591CF;
  text-align:center;
}
#u268 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:2050px;
  width:104px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u269 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:406px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u270 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:406px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u271 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:436px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u272_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:167px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u273 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:667px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u274 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:406px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u275 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:406px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u276_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-66px;
  width:128px;
  height:14px;
  -webkit-transform:rotate(-75deg);
  -moz-transform:rotate(-75deg);
  -ms-transform:rotate(-75deg);
  transform:rotate(-75deg);
}
#u276_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-172px;
  width:128px;
  height:16px;
  -webkit-transform:rotate(-52deg);
  -moz-transform:rotate(-52deg);
  -ms-transform:rotate(-52deg);
  transform:rotate(-52deg);
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-123px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:167px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u277 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:197px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u278_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:667px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u279 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:315px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u280 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:667px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u281 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:697px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:767px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u283 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:367px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u284 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:267px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u285 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:315px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-17px;
  width:68px;
  height:12px;
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-27px;
  width:66px;
  height:12px;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-29px;
  width:100px;
  word-wrap:break-word;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:375px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u287_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:7px;
  width:66px;
  height:12px;
  -webkit-transform:rotate(22deg);
  -moz-transform:rotate(22deg);
  -ms-transform:rotate(22deg);
  transform:rotate(22deg);
}
#u287_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:17px;
  width:68px;
  height:12px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:467px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u288 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:567px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u289 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u289_text {
  border-width:0px;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:514px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u290 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:574px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u291_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:8px;
  width:66px;
  height:10px;
  -webkit-transform:rotate(23deg);
  -moz-transform:rotate(23deg);
  -ms-transform:rotate(23deg);
  transform:rotate(23deg);
}
#u291_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:18px;
  width:68px;
  height:12px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:514px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u292_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-16px;
  width:66px;
  height:10px;
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  transform:rotate(-20deg);
}
#u292_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-26px;
  width:68px;
  height:12px;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  transform:rotate(3deg);
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-28px;
  width:100px;
  word-wrap:break-word;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:466px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u293_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:20px;
  width:78px;
  height:12px;
  -webkit-transform:rotate(46deg);
  -moz-transform:rotate(46deg);
  -ms-transform:rotate(46deg);
  transform:rotate(46deg);
}
#u293_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:60px;
  width:78px;
  height:12px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:727px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:17px;
  width:42px;
  height:6px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:697px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:66px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:436px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u296_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:58px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:406px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u297_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-28px;
  width:72px;
  height:12px;
  -webkit-transform:rotate(-40deg);
  -moz-transform:rotate(-40deg);
  -ms-transform:rotate(-40deg);
  transform:rotate(-40deg);
}
#u297_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-58px;
  width:74px;
  height:12px;
  -webkit-transform:rotate(-17deg);
  -moz-transform:rotate(-17deg);
  -ms-transform:rotate(-17deg);
  transform:rotate(-17deg);
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:466px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u298_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:56px;
  width:138px;
  height:16px;
  -webkit-transform:rotate(77deg);
  -moz-transform:rotate(77deg);
  -ms-transform:rotate(77deg);
  transform:rotate(77deg);
}
#u298_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:172px;
  width:138px;
  height:16px;
  -webkit-transform:rotate(55deg);
  -moz-transform:rotate(55deg);
  -ms-transform:rotate(55deg);
  transform:rotate(55deg);
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:697px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u299_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-85px;
  width:208px;
  height:22px;
  -webkit-transform:rotate(-52deg);
  -moz-transform:rotate(-52deg);
  -ms-transform:rotate(-52deg);
  transform:rotate(-52deg);
}
#u299_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-205px;
  width:138px;
  height:30px;
  -webkit-transform:rotate(-161deg);
  -moz-transform:rotate(-161deg);
  -ms-transform:rotate(-161deg);
  transform:rotate(-161deg);
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:697px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u300_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-147px;
  width:368px;
  height:40px;
  -webkit-transform:rotate(-50deg);
  -moz-transform:rotate(-50deg);
  -ms-transform:rotate(-50deg);
  transform:rotate(-50deg);
}
#u300_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-385px;
  width:274px;
  height:56px;
  -webkit-transform:rotate(-151deg);
  -moz-transform:rotate(-151deg);
  -ms-transform:rotate(-151deg);
  transform:rotate(-151deg);
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-283px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#169BD5;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:1550px;
  width:157px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline ;
  color:#169BD5;
}
#u301 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u301_text {
  border-width:0px;
  white-space:nowrap;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:892px;
  width:741px;
  height:182px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u302 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2410px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u304 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:2410px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
