body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1079px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:67px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u232 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u232_text {
  border-width:0px;
  white-space:nowrap;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:1000px;
  height:1px;
  display:flex;
}
#u233 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u233_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:111px;
  width:901px;
  height:260px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u234 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1346px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1346px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:707px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:400px;
  width:979px;
  height:707px;
  display:flex;
}
#u237 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u237_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:412px;
  width:103px;
  height:26px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u238 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u238_text {
  border-width:0px;
  white-space:nowrap;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:660px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u239 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:660px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u240 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:690px;
  width:0px;
  height:0px;
  font-size:12px;
  color:#02A7F0;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:540px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u242 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:64px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-67px;
  width:20px;
  height:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:720px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:780px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u245 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:900px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u246 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:840px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:780px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u248 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:810px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:660px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u250 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:900px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u251 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:780px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-34px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:840px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:26px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:540px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u254 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u255_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-34px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:420px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u256 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u256_text {
  border-width:0px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:540px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-34px;
  width:62px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:570px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:900px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u259 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u259_text {
  border-width:0px;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:930px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:540px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u261 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:720px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u262 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:660px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u263 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:780px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u264 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:734px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u265_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-20px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(-41deg);
  -moz-transform:rotate(-41deg);
  -ms-transform:rotate(-41deg);
  transform:rotate(-41deg);
}
#u265_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-44px;
  width:54px;
  height:12px;
  -webkit-transform:rotate(-18deg);
  -moz-transform:rotate(-18deg);
  -ms-transform:rotate(-18deg);
  transform:rotate(-18deg);
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:765px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:11px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(42deg);
  -moz-transform:rotate(42deg);
  -ms-transform:rotate(42deg);
  transform:rotate(42deg);
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:33px;
  width:54px;
  height:10px;
  -webkit-transform:rotate(19deg);
  -moz-transform:rotate(19deg);
  -ms-transform:rotate(19deg);
  transform:rotate(19deg);
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:900px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u267_seg0 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-64px;
  width:122px;
  height:8px;
  -webkit-transform:rotate(90.9548412538722deg);
  -moz-transform:rotate(90.9548412538722deg);
  -ms-transform:rotate(90.9548412538722deg);
  transform:rotate(90.9548412538722deg);
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:900px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u268 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:840px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u269_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:26px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:1020px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u270 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:960px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u271_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:26px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:900px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u272 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:930px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u273_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:68px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:540px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u274 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u275_seg0 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:56px;
  width:120px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:540px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u276 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u277_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-34px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
  text-align:center;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:513px;
  width:131px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D9001B;
  text-align:center;
}
#u278 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u278_text {
  border-width:0px;
  white-space:nowrap;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:570px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u279_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:66px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:600px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u280_seg0 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:146px;
  width:302px;
  height:8px;
  -webkit-transform:rotate(-90.1909852243597deg);
  -moz-transform:rotate(-90.1909852243597deg);
  -ms-transform:rotate(-90.1909852243597deg);
  transform:rotate(-90.1909852243597deg);
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:142px;
  width:100px;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:60px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:420px;
  width:94px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u281 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:540px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-60px;
  width:8px;
  height:64px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-67px;
  width:20px;
  height:20px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:450px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u283_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u283_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:128px;
}
#u283_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:38px;
  height:8px;
}
#u283_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:110px;
  width:20px;
  height:20px;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1140px;
  width:901px;
  height:104px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u284 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1294px;
  width:901px;
  height:52px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u285 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
}
