body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 131, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:605px;
  width:350px;
  height:175px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u64 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u64_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:175px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:605px;
  width:350px;
  height:175px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u65 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u65_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 85, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:108px;
  width:350px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u66 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u66_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:624px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u67 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:659px;
  width:222px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u68 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u68_text {
  border-width:0px;
  white-space:nowrap;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:624px;
  width:37px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u69 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:659px;
  width:196px;
  height:108px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u70 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u70_text {
  border-width:0px;
  white-space:nowrap;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:127px;
  width:55px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u71 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u71_text {
  border-width:0px;
  white-space:nowrap;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:162px;
  width:92px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u72 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:108px;
  width:350px;
  height:100px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u73 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u73_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:127px;
  width:68px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u74 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u74_text {
  border-width:0px;
  white-space:nowrap;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:36px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:162px;
  width:118px;
  height:36px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u75 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u75_text {
  border-width:0px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:356px;
  background:inherit;
  background-color:rgba(26, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:229px;
  width:721px;
  height:356px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u76 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u76_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:248px;
  width:112px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u77 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u77_text {
  border-width:0px;
  white-space:nowrap;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:174px;
  background:inherit;
  background-color:rgba(242, 131, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:291px;
  width:371px;
  height:174px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u78 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u78_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:310px;
  width:44px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u79 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u79_text {
  border-width:0px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 85, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:310px;
  width:116px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u80 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:272px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:291px;
  width:254px;
  height:272px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u81 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 85, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:310px;
  width:116px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u82 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 85, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:384px;
  width:116px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u83 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 85, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:384px;
  width:116px;
  height:59px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u84 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 131, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:480px;
  width:116px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u85 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 131, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:480px;
  width:116px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u86 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 131, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:480px;
  width:116px;
  height:83px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u87 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:575px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:11px;
  width:32px;
  height:8px;
  -webkit-transform:rotate(-99.4623222080256deg);
  -moz-transform:rotate(-99.4623222080256deg);
  -ms-transform:rotate(-99.4623222080256deg);
  transform:rotate(-99.4623222080256deg);
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:310px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u89_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-56px;
  width:106px;
  height:10px;
  -webkit-transform:rotate(77.2928864986834deg);
  -moz-transform:rotate(77.2928864986834deg);
  -ms-transform:rotate(77.2928864986834deg);
  transform:rotate(77.2928864986834deg);
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:-59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:305px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u90_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-53px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(92.9507791090064deg);
  -moz-transform:rotate(92.9507791090064deg);
  -ms-transform:rotate(92.9507791090064deg);
  transform:rotate(92.9507791090064deg);
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:545px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:25px;
  width:64px;
  height:10px;
  -webkit-transform:rotate(-84.2894068625004deg);
  -moz-transform:rotate(-84.2894068625004deg);
  -ms-transform:rotate(-84.2894068625004deg);
  transform:rotate(-84.2894068625004deg);
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-53px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:171px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u92 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u92_text {
  border-width:0px;
  white-space:nowrap;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:800px;
  height:1px;
  display:flex;
}
#u93 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u93_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
