.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._形状 {
}
._图像 {
}
.placeholder {
}
.button {
}
._标题_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.html_button {
  text-align:center;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.menu_item {
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._横线 {
}
._连接符 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.snapshot {
}
._水平线 {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.paragraph {
  text-align:left;
}
.refs-chart-model {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image {
  color:#000000;
}
.refs-chart-data {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
.shape {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.refs-design-apple {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.image1 {
}
._图片_ {
}
.refs-design-material {
  font-family:'Noto Sans CJK SC';
  font-weight:400;
  font-style:normal;
}
.shape1 {
  font-family:'ArialMT', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.horizontal_line {
}
.refs-icon-alibaba {
}
.refs-image-colorful {
}
.refs-webm-wechat {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
._图像1 {
  color:#000000;
}
.box_11 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.shape2 {
  font-size:13px;
  color:#000000;
}
.image2 {
  font-size:13px;
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
._图片 {
}
.icon {
}
textarea, select, input, button { outline: none; }
