body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:933px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:245px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:460px;
  width:667px;
  height:245px;
  display:flex;
}
#u1673 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1673_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:800px;
  height:1px;
  display:flex;
}
#u1674 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1674_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:81px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u1675 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1675_text {
  border-width:0px;
  white-space:nowrap;
}
#u1676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:338px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:100px;
  width:933px;
  height:338px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1676 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1676_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:750px;
  width:866px;
  height:260px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1677 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1677_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:588px;
  height:19px;
}
#u1678p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:584px;
  height:6px;
}
#u1678p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:6px;
}
#u1678p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1678p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1678p002 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1678p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:583px;
  width:579px;
  height:1px;
  display:flex;
}
#u1678 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1678_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:574px;
  width:33px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#02A7F0;
}
#u1679 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1679_text {
  border-width:0px;
  white-space:nowrap;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1680 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1680_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 5, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1681 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1681_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1682 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1682_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 5, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1683 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1683_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1684 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1684_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1685 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1685_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(3, 128, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1686 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1686_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 5, 5, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:573px;
  width:25px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1687 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1687_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:676px;
  width:243px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1688 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1688_text {
  border-width:0px;
  white-space:nowrap;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:594px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1689_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u1689_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:69px;
  height:8px;
}
#u1689_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:8px;
  height:20px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1690_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1690_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:130px;
  height:8px;
}
#u1690_seg2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:594px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1691_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u1691_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:69px;
  height:8px;
}
#u1691_seg2 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:8px;
  height:20px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:594px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1692_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u1692_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:197px;
  height:8px;
}
#u1692_seg2 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:8px;
  height:20px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:594px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1693_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u1693_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:276px;
  height:8px;
}
#u1693_seg2 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:8px;
  height:20px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:84px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:527px;
  width:105px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1694 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1694_text {
  border-width:0px;
  white-space:nowrap;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:622px;
  width:105px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1695 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1695_text {
  border-width:0px;
  white-space:nowrap;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:622px;
  width:106px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1696 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1696_text {
  border-width:0px;
  white-space:nowrap;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:527px;
  width:105px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1697 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1697_text {
  border-width:0px;
  white-space:nowrap;
}
#u1698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:475px;
  width:253px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1698 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1698_text {
  border-width:0px;
  white-space:nowrap;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1699_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1699_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:72px;
  height:8px;
}
#u1699_seg2 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1700_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1700_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:151px;
  height:8px;
}
#u1700_seg2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#02A7F0;
}
#u1701_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1701_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:231px;
  height:8px;
}
#u1701_seg2 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-23px;
  width:8px;
  height:23px;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1104px;
  width:933px;
  height:156px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1702 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1702_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1390px;
  width:933px;
  height:182px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:26px;
}
#u1703 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1703_text {
  border-width:0px;
  word-wrap:break-word;
}
